PORT=3001
OPENAI_API_KEY=your_api_key
OPENAI_ORGANIZATION=your_organization_id
OPENAI_PROJECT=your_project_id

LANGUAGE_SYSTEM_PRONPT="You are a <<textLanguage>> teacher."
LANGUAGE_EXEMPLE_PRONPT="Generate <<quantity>> simple sentences in <<textLanguage>> that can be used in everyday life, using the word <<text>>, give me the result in this format {"exemples": ["exemple 1", "exemple 2", "exemple 3"]}"
LANGUAGE_TRANSLATE_PRONPT="Translate the words below to <<targetLanguage>>, give only the translation: <<text>>, give me the result in this format {"text": "translated text"}"

